/****************************
 * General stuff
 ****************************/
html, body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #191932 !important;
}
h1, h2, h3, h4{
    font-family: 'Abel', sans-serif;   
    margin: 0.2em 0em !important;
}
b, strong{
    font-weight: 400;
}
.container p,
#myCarousel p {
  padding-top: -0.25em;
  font-size: 1.225em !important;
  line-height: 1.5em !important;
}

.heading h1 {
  text-align: center;
}


/****************************
 * General Semantic stuff
 ****************************/
.ui.container {
    padding: 1em 0em;
}

.ui.menu .current.item {
    color: #f4f4f4;
    background-color: #191932 ;
}

.ui.button {
    font-size: 1.15em !important;
    color: #f4f4f4 !important;
    background-color: #191932 !important;
}

.ui.button:hover {
    color: #f4f4f4 !important;
    background-color: #2a2b54 !important;
}

.ui.button > a {
    color: #f4f4f4 !important;
}

.ui.button > a:visited {
    color: #f4f4f4 !important;
}
/****************************
 * Login
 ****************************/
.login.segments, 
.signup.segments {
    max-width: 30em;
    margin: auto !important;
    margin-top: 3.5em !important;
    text-align: center;
}

.login .heading .image img,
.signup .heading .image img {
    max-height: 15em;
}
/****************************
 * File Report
 ****************************/
.file-report.segments {
    max-width: 55em;
    margin: auto !important;
}

.file-report > .segment {
    padding: 1.5em 2.5em !important;
}
/****************************
 * Detailed Reports
 ****************************/
.detailed-report > .segment {
    padding: 2em 3em !important;
}
/****************************
 * Carousel
 ****************************/
.carousel-caption{
    bottom: 10em;
    z-index: 10;
}
.carousel-inner > .item > img{
    position: absolute;
    left: 0;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;   
}

.carousel-indicators {
    bottom: 8em;
}

.carousel-control > i {
  font-size: 3em !important;
  margin-top: 4em !important;
}

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.0001) 100%) !important;
}

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.9) 100%) !important;
}

.carousel-control:hover,
.carousel-control:focus {
  opacity: 0.65 !important;
  filter: alpha(opacity=65) !important;
}


@media(min-width: 768px){
    .carousel-inner > .item{
        height: 700px;   
    }
    .map {
        height: 500px;
    }
        
}
/****************************
 * Landing page weaksauce
 ****************************/
.landing.logo.image {
  position: absolute;
  top: 8em;
  width: 100%;
  z-index: 1000;
}

.landing.logo.image img {
  margin: auto;
  max-width: 15em;
}
/****************************
 * Landing page awesomesauce
 ****************************/

 .animation-bar{
  position:fixed;
  bottom:0;
  left:0;
  z-index: 1000;
  min-height:24vh;
  max-height: 24vh;
  min-width: 100vw;
  max-width:100vw;
  /*background:rgba(0,0,0,0.1);*/
}
.animation-bar #background{
  background:url(<%= asset_path 'shiloutte.png' %>);
  background-size:cover;
  background-position:top;
  background-repeat:no-repeat;
  min-height:20vh;
  min-width:100vw;
}

.animation-bar #road{
  background:#1d1d3f;
  min-height:4vh;
  min-width:100vw;
}

#road #back-road{
  min-height: 5.5vh;
  max-height: 5.5vh;
  width: 100vw;
  /*background: rgba(15,15,15,0.7);*/
  position: fixed;
  margin-top: -4vh;
}

#road #front-road{
  min-height: 8vh;
  max-height: 8vh;
  width: 100vw;
  /*background: rgba(15,15,15,0.7);*/
  position: fixed;
  bottom:0;
}

#road #front-road img{
  height:auto;
  max-height:8vh;
  float:left;
  margin-right: 10px;
  margin-left:-10vw;
  position:absolute;
}


#road #back-road img{
  height:auto;
  max-height:5.5vh;
  float:right;
  margin-right: -10vw;
  margin-left: 10px;
  position:absolute;
  right:0px;
}

/* Carousel base class */
.carousel {
  height: 100vh;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #393b81;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-indicators{
  top: 0;
  height: 10vh;
  display: block;
  align-items: center;
  align-content: center;
  width: 20%;
  margin-left: -10%;
  background: #2F2F56;
  border-color: #262635;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carousel-indicators li{
  height:100%;
  width:30%;
  margin:0px;
}

.carousel-indicators .active{
  height:100%;
  width:30%;
  margin:0px;
}

#li1{
  background-color:#1A3120;
}

#li2{
  background-color:#614411;
}

#li3{
  background-color:#3C0B0B;
}