.ui.compact.menu.navbar {
  background-color: #2a2b54;
  border-radius: 0px;
  margin-bottom: 3em;
}

.ui.compact.menu.navbar .item,
.ui.compact.menu.navbar .item:hover,
.ui.compact.menu.navbar .site-name a,
.ui.compact.menu.navbar .site-name a:visited,
.ui.compact.menu.navbar .item a,
.ui.compact.menu.navbar .item a:visited {
  color: #fafafa;
}

.ui.compact.menu.navbar .site-name a {
  font-size: 1.4em;
  font-weight: bold;
}

.ui.compact.menu.navbar .site-name a:hover,
.ui.compact.menu.navbar .dropdown .menu {
  background-color: #2a2b54;
}

.nav-logo img {
  margin-left: -4.5em !important;
  max-width: 3em !important;
}