<section class="ui container">
  <section class="ui signup segments">
    <section class="ui heading segment">
      <div class="ui image">
        <%= image_tag(asset_path "icon.png") %>
      </div>
      <h1>DiyanLang</h1>
    </section>
    <section class="ui signup-form segment">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => "ui form" } ) do |f| %>
        <div class="two fields">
          <div class="field">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name %>
          </div>
          <div class="field">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", :class => "ui button" %>
          <%= render 'button', text: 'Cancel', url: root_path %>
        </div>
      <% end %>
    </section>
  </section>
</section>
