<section class="ui container">
  <section class="ui login segments">
    <section class="ui heading segment">
      <div class="ui image">
        <%= image_tag(asset_path "icon.png") %>
      </div>
      <h1>DiyanLang</h1>
    </section>
    <section class="ui login-form segment">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "ui form" } ) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, style: "display:inline;" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", :class => "ui button" %>
          <%= render 'button', text: 'Cancel', url: root_path %>
        </div>
      <% end %>
    </section>
  </section>
</section>