@keyframes beatGreen{
  from {background-color:#1A3120;}
  to {background-color:green;}
}

@keyframes beatOrange{
  from {background-color:#614411;}
  to {background-color:orange;}
}

@keyframes beatRed{
  from {background-color:#3C0B0B;}
  to {background-color:red;}
}
