html, body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background-color: #eeefe9;
}
h1, h2, h3, h4{
    font-family: 'Abel', sans-serif;
}
b, strong{
    font-weight: 400;
}
.carousel-caption{
    bottom: 10em;
    z-index: 10;
}
.carousel-inner > .item > img{
    position: absolute;
    left: 0;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;
}

.carousel-indicators {
    top: 8em;
}

@media(min-width: 768px){
.carousel-inner > .item{
    height: 700px;
}
.map {
    height: 500px;
}

}



.animation-bar{
  position:fixed;
  bottom:0;
  left:0;
  z-index: 1000;
  min-height:24vh;
  max-height: 24vh;
  min-width: 100vw;
  max-width:100vw;
  /*background:rgba(0,0,0,0.1);*/
}
.animation-bar #background{
  background:url('../images/shiloutte.png');
  background-size:cover;
  background-position:top;
  background-repeat:no-repeat;
  min-height:20vh;
  min-width:100vw;
}

.animation-bar #road{
  background:#1d1d3f;
  min-height:4vh;
  min-width:100vw;
}

#road #back-road{
  min-height: 5.5vh;
  max-height: 5.5vh;
  width: 100vw;
  /*background: rgba(15,15,15,0.7);*/
  position: fixed;
  margin-top: -4vh;
}

#road #front-road{
  min-height: 8vh;
  max-height: 8vh;
  width: 100vw;
  /*background: rgba(15,15,15,0.7);*/
  position: fixed;
  bottom:0;
}

#road #front-road img{
  height:auto;
  max-height:8vh;
  float:left;
  margin-right: 10px;
  margin-left:-10vw;
  position:absolute;
}


#road #back-road img{
  height:auto;
  max-height:5.5vh;
  float:right;
  margin-right: -10vw;
  margin-left: 10px;
  position:absolute;
  right:0px;
}


/* Carousel base class */
.carousel {
  height: 100vh;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-indicators{
  top: 0;
  height: 10vh;
  display: block;
  align-items: center;
  align-content: center;
  width: 20%;
  margin-left: -10%;
  background: #2F2F56;
  border-color: #262635;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carousel-indicators li{
  height:100%;
  width:30%;
  margin:0px;
}

.carousel-indicators .active{
  height:100%;
  width:30%;
  margin:0px;
}



#li1{
  background-color:#1A3120;
}

#li2{
  background-color:#614411;
}

#li3{
  background-color:#3C0B0B;
}
