<nav class="ui compact five item navbar menu">
  <div class="site-name item"><div class="ui image nav-logo"><%= image_tag(asset_path "icon.png") %></div>
  <%= link_to "Diyan Lang", root_path %></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
    <% if current_user.nil? %>
      <div class="item"><%= link_to 'Back', root_path %></div>
    <% else %>
      <div class="item"><p><%= current_user.full_name %> <%= link_to "(sign out)", destroy_user_session_path, method: :delete %></p></div>
    <% end %>
</nav>