<div id="vehicle_paths" class="hide">
  <p id="left_bus1_path"><%= asset_path 'left/bus1.png' %></p>
  <p id="left_bus2_path"><%= asset_path 'left/bus2.png' %></p>
  <p id="left_jeep_path"><%= asset_path 'left/jeep.png' %></p>
  <p id="left_pedicab_path"><%= asset_path 'left/pedicab.png' %></p>
  <p id="left_taxi_path"><%= asset_path 'left/taxi.png' %></p>
  <p id="right_bus1_path"><%= asset_path 'right/bus1.png' %></p>
  <p id="right_bus2_path"><%= asset_path 'right/bus2.png' %></p>
  <p id="right_jeep_path"><%= asset_path 'right/jeep.png' %></p>
  <p id="right_pedicab_path"><%= asset_path 'right/pedicab.png' %></p>
  <p id="right_taxi_path"><%= asset_path 'right/taxi.png' %></p>
</div>
<div class="ui landing logo image"><%= image_tag(asset_path "icon-white.png") %></div>
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li id="li1" data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li id="li2" data-target="#myCarousel" data-slide-to="1"></li>
        <li id="li3" data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div id="item1" class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>DiyanLang is a quick solution to traffic violations</h1>
              <p>Simply take a picture of the offender's vehicle, note down the plate number, and submit a report to our database. The traffic enforcers will do the rest!</p>
              <% if current_user && current_user.official? %>
                <div class="ui button"><%= link_to "View report summary", summary_reports_path %></div>
              <% else %>
                <div class="ui button"><%= link_to "File a report", new_report_path %></div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="item2" class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Countless traffic violations go unpunished</h1>
              <p>Traffic enforcers can't be everywhere at once, and lack the means and evidence to retroactively hand out sanctions for offenses they miss.</p>
              <% if current_user.nil? %>
                <div class="ui button"><%= link_to "Sign in", reports_path %></div>
              <% elsif current_user.official? %>
                <div class="ui button"><%= link_to "View detailed reports", reports_path %></div>
              <% else %>
                <div class="ui button"><%= link_to "View my reports", reports_path %></div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="item3" class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Traffic violations cause congestion in Philippine roads</h1>
              <p>For example, public utility vehicles indiscriminately load and unload away from designated terminals, bringing other commuters to a halt.</p>
              <% if current_user.nil? %>
                <div class="ui button"><%= link_to "Sign up", new_user_registration_path %></div>
              <% else %>
                <div class="ui button"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <i class="chevron circle left icon"></i>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <i class="chevron circle right icon"></i>
      </a>
    </div><!-- /.carousel -->


<!--div class="temp" style="background:white;color:black;position:fixed;top:0;z-index:2000;">
  <button id="orange" class="btn btn-default btn-primary" type="button" name="button">Slow</button>
  <button id="red" class="btn btn-default btn-primary" type="button" name="button">Stop</button>
  <button id="green" class="btn btn-default btn-primary" type="button" name="button">Resume</button>
</div-->
<div class="animation-bar">
  <div id="background">

  </div>
  <div id="backroad">

  </div>
  <div id="road">
    <div id="back-road">

    </div>
    <div id="front-road">

    </div>
  </div>
</div>
<script>
$(function (){
    $('.carousel').carousel({
        interval: 3000
    });
})
</script>
