<%= form_for(@report, html: { :class => "ui form", multipart: true }) do |f| %>
  <% if @report.errors.any? %>
    <div class="ui error message">
      <div class="header"><%= pluralize(@report.errors.count, "error") %> prohibited this report from being submitted:</div>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.nil? %>
    <div class="two fields">
      <div class="field">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name %>
      </div>
    </div>
  <% else %>
    <div class="field">
      <%= hidden_field_tag("report[user_id]", current_user.id) %>
    </div>
  <% end %>

  <div class="two fields">
    <div class="field">
      <% cities = (0...City::NCR.size).to_a.map { |c| [City::NCR[c].split.map(&:capitalize).join(' '), c] } %>
      <%= f.label :city_id, "City" %>
      <%= f.select :city_id, options_for_select(cities) %>
    </div>

    <div class="field">
      <%= f.label :plate_number, "Plate Number" %>
      <%= f.text_field :plate_number, placeholder: "ABC-123" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= file_field_tag "image_files[]", type: :file, multiple: true %>
    <p>Please include a timestamped photo(s) to ensure the credibility of your report. Fraudulent reports will be rejected.</p>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Enter an optional description of the offense." %>
  </div>

  <div class="actions">
    <%= f.submit "File Report", :class => "ui button" %>
    <%= render 'button', text: 'Cancel', url: root_path %>
  </div>
<% end %>