<%= form_tag reports_path, method: 'get' do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <p style="display:none;">
        <%= text_field_tag :search, params[:search], placeholder: 'Enter a city' %>
        <%= submit_tag 'Search', name: nil %>
      </p>
    <% end %>

    <table class="ui table">
      <thead>
        <tr>
          <th>Date</th>
          <th>City</th>
          <th>Plate No.</th>
          <th>Description</th>
          <th>Resolved</th>
          <th>Open Report</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.created_at %></td>
            <td><%= City::NCR[report.city_id] %></td>
            <td><%= report.plate_number %></td>
            <td><%= report.description.truncate 32 %></td>
            <td><% if report.resolved? %>Yes<% else %>No<% end %></td>
            <td><%= link_to "Open", report %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>