<%= form_tag reports_path, method: :get, :class => "ui form" do %>
  <div class="field">
    <%= label_tag "search[plate_number]", "Plate Number" %>
    <%= text_field_tag "search[plate_number]", nil, placeholder: "Enter a complete or partial plate number"  %>
  </div>

  <div class="field">
    <% cities = (0...City::NCR.size).to_a.map { |c| [City::NCR[c].split.map(&:capitalize).join(' '), c] } %>
    <%= label_tag "search[city]", "City" %>
    <%= select_tag "search[city]", options_for_select(cities), prompt: "Select a city" %>
  </div>

  <div class="two fields">
    <div class="eight wide field">
      <%= label_tag :start_date, "Starting From" %>
      <div class="three fields">
        <%= date_select "search", "start_date", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } %>
      </div>
    </div>

    <div class="eight wide field">
      <%= label_tag :end_date, "Up To" %>
      <div class="three fields">
        <%= date_select "search", "end_date", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= check_box_tag "search[show_resolved]", "1" %>
    <%= label_tag :show_resolved, "Show resolved", style: "display:inline;", title: "Display already resolved cases." %>
  </div>

  <div class="actions">
    <%= submit_tag "Reload", :class => "ui button" %>
    <%= render 'button', text: 'View Summary', url: summary_reports_path %>
    <%= render 'button', text: 'Cancel', url: root_path %>
  </div>
<% end %>