<%= render 'navbar' %>
<section class="ui container">
  <section class="ui detailed-report segments">
    <section class="ui heading segment"><h1>Traffic Violation Reports</h1></section>
    <% if current_user.official? %>
      <section class="ui controls segment">
        <h2>Options</h2>
        <%= render 'search_form' %>
      </section>
    <% end %>
    <% @reports.each do |report| %>
      <section class="ui content segment">
        <h2><%= report.plate_number %>
          (<%= City::NCR[report.city_id] %>,
          <%= report.created_at.strftime "%B %d, %Y - %H:%m:%S" %>)
          <% if report.resolved? %>[RESOLVED]<% end %>
        </h2>
        <% if current_user.official? %>
          <p><strong>Complainant:</strong>
            <% if report.user_id %>
              <%= "#{report.user.first_name} #{report.user.last_name}" %>
            <% else %>
              <%= "#{report.first_name} #{report.last_name}" %>
            <% end %>
          </p>
        <% end %>
        <% if report.resolved %>
          <p><strong>Resolved:</strong> Yes</p>
        <% else %>
          <p><strong>Resolved:</strong> No</p>
        <% end %>
        <p><strong>Description:</strong> <%= report.description %></p>
        <% report.image_files.each do |img| %>
         <%= image_tag img.content.url(:medium) %><br />
        <% end %>
        <br />
        <% if current_user.official? && !report.resolved? %>
          <div class="ui button"><%= link_to 'Resolve', resolve_report_path(report), method: :patch, data: { confirm: 'Are you sure?' } %></div>
          <div class="ui button"><%= link_to 'Reject', report, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
      </section>
    <% end %>
    <section class="ui segment">
      <%= will_paginate @reports, :class => "ui menu" %>    
    </section>
  </sectio  n>
</section>