<%= render 'navbar' %>
<section class="ui container">
  <section class="ui file-report segments">
    <section class="ui heading segment">
      <h1>File a Report</h1>
    </section>
    <section class="ui -form segment">
      <%= render 'form' %>
    </section>
  </section>
</section>