<h1>Report</h1>
<p><strong>Date:</strong> <%= @report.created_at %></p>
<p><strong>Resolved:</strong> <% if @report.resolved? %>Yes<% else %>No<% end %></p>
<p><strong>Complainant:</strong> <%= @report.user.email %></p>
<p><strong>Offender Plate Number:</strong> <%= @report.plate_number %></p>
<p><strong>Description:</strong> <%= @report.description %></p>
<% @report.image_files.each do |img| %>
 <%= image_tag img.content.url(:medium) %>
<% end %>
<% unless @report.resolved? %>
  <%= link_to 'Resolve', resolve_report_path(@report), method: :patch, data: { confirm: 'Are you sure?' } %>
<% end%>
