<%= render 'navbar' %>
<section class="ui container">
  <section class="ui report-summary segments">
    <section class="ui heading segment">
      <h1>Summary of Reports</h1>
    </section>
    <section class="ui content segment">
      <div class="ui stackable grid">
        <div class="five wide column">      
          <table class="ui celled table">
            <thead>
              <tr>
                <th>City</th>
                <th>Incidents</th>
              </tr>
            </thead>
            <tbody>
              <% City::NCR.count.times do |id| %>
                <tr>
                  <td><%= City::NCR[id] %></td>
                  <td><%= @reports.where('city_id = ?', id).count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="eleven wide column">
          <div style="margin:auto;" id="chart"></div>
          <%= render_chart(@chart, 'chart') %>
          <%= render 'button', text: 'View Detailed Reports', url: reports_path %>
          <%= render 'button', text: 'Back', url: root_path %>
        </div>
      </div>
    </section>
  </section>
</section>